<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">-->

<!--<head th:replace="common/header :: common-header"/>-->
<head th:fragment="common-header">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>International Dental Congress-Nepal</title>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />-->


    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <link rel="icon" href="#"/>

    <!--<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>-->
    <!--<script>tinymce.init({ selector:'textarea' });</script>-->

    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=wdartupm1s7vgujdpodqsy71fa0qvl0mlp33h2der8o5lyz1"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            height: 500,
            theme: 'modern',
            plugins: 'lists advlist image imagetools'
        });
    </script>

    <!--Data table content-->
    <link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet"/>

    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />

    <script  th:src="@{/js/jquery-2.2.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-barcode.js}"></script>
    <script  th:src="@{/js/jQuery.print.js}"></script>


</head>

<body>
<div th:replace="common/header :: navbar"/>

<div class="container">
    <div class="table-responsive">
        <table id="userListTable"
               class="table table-responsive table-hover table-bordered table-stripped table-inverse">
            <thead>
            <tr>
                <th><input th:id="selectAllUsers" type="checkbox"/></th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Organization</th>
                <th>Designation</th>
                <th>Number</th>
                <th>Operation</th>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="user,status: ${userList}">
                <td>
                    <input hidden="hidden" name="id" th:value="${user.id}"/>
                    <input th:id="'selected'+${user.id}" class="checkboxUser" type="checkbox"/>
                </td>
                <td>
                    <a
                            th:text="${user.firstName}" >
                    </a>
                </td>
                <td th:text="${user.middleName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.organization}"></td>
                <td th:text="${user.designation}"></td>
                <td th:text="${user.number}"></td>
                <td>
                    <input hidden="hidden" name="id" th:value="${user.id}"/>
                    <button th:id="'oneUser-'+${user.id}"
                            class="btn btn-danger btn-xs delete-user"
                            type="submit" value="delete">
                        <span class="fa fa-times">Delete</span>
                    </button>
                    <!--<a th:id="'oneUser-'+${user.id}" data-toggle="modal" data-target="#myModal"-->
                    <!--class="btn btn-primary btn-xs" type="submit" value="generateBarcode">-->
                    <!--<span class="fa fa-barcode"> Generate Barcode</span>-->
                    <!--</a>-->
                    <a class="btn btn-success btn-xs" th:href="@{/updateUser?id=}+${user.id}"><span class="fa fa-edit">Edit</span></a>

                    <a th:href="'#'+${status.index}"  class="btn btn-primary btn-xs" data-toggle="modal"  data-whatever="@mdo">Generates Barcode</a>
                </td>

                <div class="modal fade" th:id="${status.index}" tabindex="-1" role="dialog" aria-labelledby="attandantparticipantModalTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title" id="attandantparticipantModalTitle">Generate Barcode</h2>

                            </div>
                            <center><input th:id="'txtbarcode'+${status.index}" type="text" th:value="${user.id}"/></center>
                            <div class="modal-body" th:id="'barcodeprint'+${status.index}" style="margin-left:65px; margin-top:-8px" >
                                <h5>Email: <span th:text="${user.email}"></span></h5>
                                <h5>Organization: <span th:text="${user.organization}"></span></h5>
                                <h5>Designation: <span th:text="${user.designation}"></span></h5>
                                <h5>Number: <span th:text="${user.number}"></span></h5>
                                <div th:id="'barcodes'+${status.index}" ></div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <a class="btn btn-info"  data-dismiss="modal" th:id="'print'+${status.index}" href="#" th:onclick="'printValue('+${status.index}+');'" >Generate Barcode</a>
                            </div>
                        </div>
                    </div>
                </div>

            </tr>
            </tbody>
        </table>
    </div>
    <button th:id="deleteSelected" class="btn btn-danger">Delete Selected</button>

    <!-- Modal -->

</div>


<div th:replace="common/header :: common-footer"/>
<!--<div th:replace="common/header :: body-bottom-scripts"/>-->

<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootbox.min.js}"></script>

<script th:src="@{/js/scripts.js}"></script>

<!--Data Table script-->
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/dataTables.bootstrap.min.js}"></script>
<script>
    $(document).ready(function () {
        $("#userListTable").DataTable({
            "lengthMenu": [[5, 10, 15, 20, -1], [5, 10, 15, 20, "All"]],
            "ordering": false,
            stateSave: true
        });
    });
</script>
<script >
    function printValue(x){
        console.log("asd"+x)
        $("#barcodes"+x).barcode($("#txtbarcode"+x).val(),"code128");
        $.print("#barcodeprint"+x);
    }
</script>
</body>
</html>
