<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">-->

<!--<head th:replace="common/header :: common-header"/>-->
<head th:fragment="common-header">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>International Dental Congress-Nepal</title>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />-->


    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <link rel="icon" href="#"/>

    <!--<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>-->
    <!--<script>tinymce.init({ selector:'textarea' });</script>-->

    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=wdartupm1s7vgujdpodqsy71fa0qvl0mlp33h2der8o5lyz1"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            height: 500,
            theme: 'modern',
            plugins: 'lists advlist image imagetools'
        });
    </script>

    <!--Data table content-->
    <link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet"/>

    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>

    <script th:src="@{/js/jquery-2.2.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-barcode.js}"></script>
    <script th:src="@{/js/jQuery.print.js}"></script>

    <style>
        @media print {
            #designation{
                color:orangered !important;

            }
        }

        img {

        }

        #spanTest {
            font-size: 31px;
            text-align: center;
            vertical-align: middle;
            line-height: 23px;
        }

        #details {
            color: black;
        }
    </style>
</head>

<body>
<div th:replace="common/header :: navbar"/>

<div class="container">
    <div class="table-responsive">
        <table id="userListTable"
               class="table table-responsive table-hover table-bordered table-stripped table-inverse">
            <thead>
            <tr>
                <th><input th:id="selectAllUsers" type="checkbox"/></th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Designation</th>
                <th>Operation</th>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="user,status: ${userList}">
                <td>
                    <input hidden="hidden" name="id" th:value="${user.id}"/>
                    <input th:id="'selected'+${user.id}" class="checkboxUser" type="checkbox"/>
                </td>
                <td>
                    <a
                            th:text="${user.firstName}">
                    </a>
                </td>
                <td th:text="${user.middleName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.designation}"></td>
                <td>
                    <input hidden="hidden" name="id" th:value="${user.id}"/>
                    <button th:id="'oneUser-'+${user.id}"
                            class="btn btn-danger btn-xs delete-user"
                            type="submit" value="delete">
                        <span class="fa fa-times">Delete</span>
                    </button>
                    <!--<a th:id="'oneUser-'+${user.id}" data-toggle="modal" data-target="#myModal"-->
                    <!--class="btn btn-primary btn-xs" type="submit" value="generateBarcode">-->
                    <!--<span class="fa fa-barcode"> Generate Barcode</span>-->
                    <!--</a>-->
                    <a class="btn btn-success btn-xs" th:href="@{/updateUser?id=}+${user.id}"><span class="fa fa-edit">Edit</span></a>
                    <br/>
                    <a th:href="'#'+${status.index}" class="btn btn-primary btn-xs" data-toggle="modal"
                       data-whatever="@mdo">View</a>
                </td>

                <div class="modal fade" th:id="${status.index}" tabindex="-1" role="dialog"
                     aria-labelledby="attandantparticipantModalTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title" id="attandantparticipantModalTitle">Generate Barcode</h2>
                            </div>
                            <center><input th:id="'txtbarcode'+${status.index}" type="text" th:value="${user.id}"/>
                            </center>
                            <!--To Print in A4-->
                            <div class="modal-body" th:id="'barcodeprint'+${status.index}"
                                 style="margin-left:107px; margin-top:-8px; position:relative;">
                                <img th:src="@{/image/background.jpg}" alt="image not found" width="357px"
                                     height="490px"/>
                                <div id="details" style="position:absolute;bottom: 18px;left:14px;">
                                    <!--<h5>Email: <span th:text="${user.email}" style="color: red" id="emaill"></span></h5>-->

                                    <div class="panel panel-default">
                                        <div id="designation" style="width: 357px;height: 45px;text-align: center; background: orangered;"
                                             class=" panel-heading">
                                            <span id="spanTest" th:text="${user.designation}"></span>
                                        </div>
                                        <!--<div class="panel-body">Panel Content</div>-->
                                    </div>
                                    <div style="margin-left: 25px;font-size: 20px;font-family: 'Lato Black'">
                                        <span th:text="${user.firstName}"></span>
                                        <span th:text="${user.lastName}"></span>
                                    </div>
                                    <span style="text-align: center">Please wear this ID all the time.</span>
                                    <p style="text-align: center">Additional Charges in case of loss.</p>

                                </div>

                                <div th:id="'barcodes'+${status.index}"
                                     style="position: absolute; bottom:43px; left:279px;">
                                </div>

                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <a class="btn btn-info" data-dismiss="modal" th:id="'print'+${status.index}" href="#"
                                   th:onclick="'printValue('+${status.index}+');'">Generate Barcode</a>
                            </div>
                        </div>
                    </div>
                </div>

            </tr>
            </tbody>
        </table>
    </div>
    <button th:id="deleteSelected" class="btn btn-danger">Delete Selected</button>


</div>


<div th:replace="common/header :: common-footer"/>
<!--<div th:replace="common/header :: body-bottom-scripts"/>-->


<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootbox.min.js}"></script>

<script th:src="@{/js/scripts.js}"></script>

<!--Data Table script-->
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/dataTables.bootstrap.min.js}"></script>
<script>
    $(document).ready(function () {
        $("#userListTable").DataTable({
            "lengthMenu": [[5, 10, 15, 20, -1], [5, 10, 15, 20, "All"]],
            "ordering": false,
            stateSave: true
        });
    });
</script>
<script>
    function printValue(x) {
        console.log("asd" + x)
        $("#barcodes" + x).barcode($("#txtbarcode" + x).val(), "code128");
        $.print("#barcodeprint" + x);
    }
</script>
</body>
</html>
